In [ ]:
SELECT sz.szoba_id,
       sz.ferohely,
       DENSE_RANK() OVER(PARTITION BY sz.szoba_id
                         ORDER BY COUNT(f.FOGLALAS_PK) DESC, sz.ferohely)
FROM szoba sz JOIN Foglalas f ON f.SZOBA_FK = sz.SZOBA_ID
GROUP BY sz.SZOBA_ID, sz.FEROHELY

In [ ]:
SELECT *
FROM Foglalas f JOIN Vendeg v ON f.UGYFEL_FK = v.USERNEV
WHERE SZUL_DAT IN (
    SELECT MAX(SZUL_DAT)
    FROM vendeg
    WHERE SZUL_DAT NOT IN (
        SELECT MAX(SZUL_DAT)
        FROM Vendeg
    )
)